<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #E8D5BE;
            color: #3B2E20;
        }
        .card {
            border: 2px solid #825F38;
            background-color: #E8D5BE;
        }
        .btn-primary {
            background-color: #825F38;
            border-color: #825F38;
        }
        .btn-primary:hover {
            background-color: #9B7453;
            border-color: #9B7453;
        }
        .btn-danger {
            background-color: #B0413E;
            border-color: #B0413E;
        }
        .btn-danger:hover {
            background-color: #D16866;
            border-color: #D16866;
        }
        .table-bordered {
            border-color: #825F38;
        }
        .table-bordered th,
        .table-bordered td {
            border-color: #825F38;
        }
        .modal-content {
            background-color: #E8D5BE;
        }

        a {
            color: #3B2E20; /* Color de los enlaces */
            text-decoration: none; /* Eliminar subrayado de los enlaces */
        }
        a:hover {
            color: #9B7453; /* Color de los enlaces al pasar el ratón */
            text-decoration: none; /* Asegurar que no haya subrayado al pasar el ratón */
        }
        a:active, a:focus {
            color: #3B2E20; /* Color de los enlaces cuando están activos o enfocados */
            text-decoration: none; /* Asegurar que no haya subrayado cuando están activos o enfocados */
        }

    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Gestión de Ingresos</h1>

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ success }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        
        <!-- Agregarr Ingreso Modal -->
        <div class="modal fade" id="addIngresoModal" tabindex="-1" aria-labelledby="addIngresoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addIngresoModalLabel">Agregar Ingreso</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para agregar ingreso -->
                        <form action="/add_ingreso" method="POST">
                            <div class="mb-3">
                                <label for="Cedula" class="form-label">Cedula paciente</label>
                                <input type="text" class="form-control" id="Cedula" name="Cedula" >
                            </div>
                            <div class="mb-3">
                                <label for="procedimiento" class="form-label">Procedimiento</label>
                                <select class="form-select" id="procedimiento" name="procedimiento" onchange="obtenerPrecio()">
                                    <option value="">Elige una opción</option>
                                    {% for procedimiento in procedimientos %}
                                        <option value="{{ procedimiento[0] }}" cantidadProducto="{{ procedimiento[5]}}" concepto="{{ procedimiento[1] }}" data-id="{{ procedimiento[0] }}" data-precio="{{ procedimiento[3] }}">{{ procedimiento[1] }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input type="date" class="form-control" id="fecha" name="fecha">
                            </div>
                            <div class="mb-3">
                                <label for="metodo_pago" class="form-label">Método de Pago</label>
                                <select class="form-select" id="metodo_pago" name="metodo_pago">
                                    <option value="">Elige una opción</option>
                                    {% for metodo in metodos_pago %}
                                        <option value="{{ metodo[0] }}">{{ metodo[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="moneda" class="form-label">Moneda</label>
                                <select class="form-select" id="moneda" name="moneda">
                                    <option value="">Elige una opción</option>
                                    {% for moneda in monedas %}
                                        <option value="{{ moneda[0] }}">{{ moneda[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="Precio" class="form-label">Precio</label>
                                <input type="text" class="form-control" id="Precio" name="Precio" readonly >
                            </div>
                            <div class="mb-3">
                                <label for="descuento" class="form-label">Descuento</label>
                                <input type="text" class="form-control" id="descuento" name="descuento"  onchange="calcularMontoTotal()">
                            </div>
                            <div class="mb-3">
                                <label for="monto_total" class="form-label">Monto Total</label>
                                <input type="text" class="form-control" id="monto_total" name="monto_total" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="observaciones" class="form-label">Observaciones</label>
                                <textarea class="form-control" id="observaciones" name="observaciones"></textarea>
                            </div>
                            <input type="hidden" id="idProcedimiento" name="idProcedimiento">
                            <input type="hidden" id="concepto" name="concepto">
                            <input type="hidden" id="cantidadProducto" name="cantidadProducto">
                            <button type="submit" class="btn btn-primary">Agregar Ingreso</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mt-5">
            <div class="card-header">
                <h2>Listado de Ingresos</h2>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addIngresoModal">
                    Agregar Ingreso
                </button>
                <div class="mt-3"></div>
                <!-- Tabla de ingresos -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cédula</th>
                            <th>Procedimiento</th>
                            <th>Fecha</th>
                            <th>Monto Total</th>
                            <th>Método de Pago</th>
                            <th>Moneda</th>
                            <th>Descuento</th>
                            <th>Observaciones</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingreso in ingresos %}
                        <tr>
                            <td>{{ ingreso[0] }}</td>
                            <td><a href="{{ url_for('listar_pacientes') }}" >{{ ingreso[1] }}</a>  </td></td>
                            <td> <a href="{{ url_for('procedimientos') }}" >{{ ingreso[2] }}</a>  </td>
                            <td>{{ ingreso[3] }}</td>
                            <td>{{ ingreso[4] }}</td>
                            <td>{{ ingreso[7] }}</td>
                            <td>{{ ingreso[8] }}</td>
                            <td>{{ ingreso[6] }}</td>
                            <td>{{ ingreso[5] }}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{ ingreso[0] }}">Editar</a>
                                <a href="/delete_ingreso/{{ ingreso[0] }}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                        <!-- Modal de Edición -->
                        <div class="modal fade" id="editModal{{ ingreso[0] }}" tabindex="-1" aria-labelledby="editModalLabel{{ ingreso[0] }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel{{ ingreso[0] }}">Editar Ingreso</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit_ingreso/{{ ingreso[0] }}" method="POST">
                                            <div class="mb-3">
                                                <label for="cedula" class="form-label">Cédula</label>
                                                <select class="form-select" id="cedula" name="cedula">
                                                    <option value="">Elige una opción</option>
                                                    {% for paciente in pacientes %}
                                                        <option value="{{ paciente[0] }}" {% if paciente[0] == ingreso[1] %} selected {% endif %}>{{ paciente[1] }} {{ paciente[2] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="procedimiento1" class="form-label">Procedimiento</label>
                                                <select class="form-select" id="procedimiento1" name="procedimiento1" onchange="obtenerPrecioEdit()" >
                                                    <option value="">Elige una opción</option>
                                                    {% for procedimiento in procedimientos %}
                                                        <option value="{{ procedimiento[0] }}" cantidadProducto="{{ procedimiento[5]}}" concepto="{{ procedimiento[1] }}" id-data="{{ procedimiento[0] }}" data-precio="{{ procedimiento[3] }}" {% if procedimiento[0] == ingreso[2] %} selected {% endif %}>{{ procedimiento[1] }} - {{ procedimiento[3] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="fecha" class="form-label">Fecha</label>
                                                <input type="date" class="form-control" id="fecha" name="fecha" value="{{ ingreso[3] }}">
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label for="metodo_pago" class="form-label">Método de Pago</label>
                                                <select class="form-select" id="metodo_pago" name="metodo_pago">
                                                    <option value="">Elige una opción</option>
                                                    {% for metodo in metodos_pago %}
                                                        <option value="{{ metodo[0] }}" {% if metodo[0] == ingreso[7] %} selected {% endif %}>{{ metodo[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="moneda" class="form-label">Moneda</label>
                                                <select class="form-select" id="moneda" name="moneda">
                                                    <option value="">Elige una opción</option>
                                                    {% for moneda in monedas %}
                                                        <option value="{{ moneda[0] }}" {% if moneda[0] == ingreso[8] %} selected {% endif %}>{{ moneda[1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="Precio1" class="form-label">Precio</label>
                                                <input type="text" class="form-control" id="Precio1" name="Precio1" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="descuento1" class="form-label">Descuento</label>
                                                <input type="text" class="form-control" id="descuento1" name="descuento1" onchange="calcularMontoTotalEdit()"  value="{{ ingreso[6] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="monto_total1" class="form-label">Monto Total</label>
                                                <input type="text" class="form-control" id="monto_total1" name="monto_total1" value="{{ ingreso[4] }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="concepto1" class="form-label">Concepto</label>
                                                <input type="text" class="form-control" id="concepto1" name="concepto1" readonly>
                                            </div>
                                            <div class="mb-3">
                                                <label for="observaciones" class="form-label">Observaciones</label>
                                                <textarea class="form-control" id="observaciones" name="observaciones">{{ ingreso[5] }}</textarea>
                                            </div>
                                            <input type="hidden" id="idProcedimiento1" name="idProcedimiento">
                                            <input type="hidden" id="cantidadProducto1" name="cantidadProducto1">
                                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('caja') }}" class="btn btn-primary">Ir a Caja</a>
                <a href="{{ url_for('egresos') }}" class="btn btn-primary">Ir a Egresos</a>
                <div class="mt-3"></div>
                <a href="{{ url_for('adminInicio') }}" class="btn btn-primary">Volver a Inicio</a>
                <!-- Botón para abrir el modal de agregar ingreso -->
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>

        function obtenerPrecio() {
            var select = document.getElementById("procedimiento");
            var selectedIndex = select.selectedIndex;
            var selectedOption = select.options[selectedIndex];
            console.log("selectedIndex:", selectedIndex);
            console.log("opcion", selectedOption);

            var precio = selectedOption.getAttribute('data-precio');
            console.log("precio: ", precio);

            var concepto = selectedOption.getAttribute('concepto');
            console.log("concepto: ", concepto);

            var cantidadProducto = selectedOption.getAttribute('cantidadProducto');
            console.log("cantidadProducto: ", cantidadProducto);

            var idProcedimiento = selectedOption.getAttribute('data-id');
            console.log("id procedimiento: ", idProcedimiento);

            document.getElementById("Precio").value = precio;
            document.getElementById("idProcedimiento").value = idProcedimiento;
            document.getElementById("concepto").value = concepto;
            document.getElementById("cantidadProducto").value = cantidadProducto;

            calcularMontoTotal();
        }

        function calcularMontoTotal() {
            var precio = document.getElementById("Precio").value;
            console.log("precio: ", precio);
            var descuento = document.getElementById("descuento").value;
            console.log("descuento: ", descuento);
            var montoTotal = precio - descuento;
            console.log("montoTotal: ", montoTotal);
            document.getElementById("monto_total").value = montoTotal.toFixed(2);
        }

        //Funciones modal de edicion

        document.addEventListener('DOMContentLoaded', function() {
            var editModals = document.querySelectorAll('.modal');
        
            editModals.forEach(function(modal) {
                modal.addEventListener('show.bs.modal', function(event) {
                    var button = event.relatedTarget;
                    var modal = this;
        
                    // Llamar a la función obtenerPrecioEdit para rellenar el precio al abrir el modal
                    obtenerPrecioEdit(modal);
                });
            });
        
            var procedimientoSelects = document.querySelectorAll('.form-select[name="procedimiento1"]');
            var descuentoInputs = document.querySelectorAll('.form-control[name="descuento1"]');

            procedimientoSelects.forEach(function(select) {
                select.addEventListener('change', function() {
                    var modal = this.closest('.modal');
        
                    // Llamar a la función obtenerPrecioEdit para rellenar el precio al cambiar el procedimiento
                    obtenerPrecioEdit(modal);
                });
            });
        
            descuentoInputs.forEach(function(input) {
                input.addEventListener('change', function() {
                    var modal = this.closest('.modal');
        
                    // Llamar a la función calcularMontoTotalEdit para actualizar el monto total al cambiar el descuento
                    calcularMontoTotalEdit(modal);
                });
            });

        });
        
        function obtenerPrecioEdit(modal) {
            var procedimientoSelect = modal.querySelector('.form-select[name="procedimiento1"]');
            var precioInput = modal.querySelector('.form-control[name="Precio1"]');
            var conceptoInput = modal.querySelector('.form-control[name="concepto1"]');
        
            var selectedOption = procedimientoSelect.options[procedimientoSelect.selectedIndex];
            var precio = selectedOption.getAttribute('data-precio');
            var concepto = selectedOption.getAttribute('concepto');
            conceptoInput.value = concepto;
            document.getElementById("concepto1").value = concepto;
            console.log("concepto: ", concepto);
            var concep = document.getElementById("concepto1").value
            console.log("concep: ", concep);
        
            
            precioInput.value = precio;
        
            calcularMontoTotalEdit(modal);
        }
        
        function calcularMontoTotalEdit(modal) {
            var precioInput = modal.querySelector('.form-control[name="Precio1"]');
            var descuentoInput = modal.querySelector('.form-control[name="descuento1"]');
            var montoTotalInput = modal.querySelector('.form-control[name="monto_total1"]');
        
            var precio = parseFloat(precioInput.value);
            var descuento = parseFloat(descuentoInput.value);
        
            var montoTotal = precio - descuento;
            montoTotalInput.value = montoTotal.toFixed(2);
        }

        
    </script>

</body>
</html>
